/* #region banner */

.banner {
    background-color: var(--bg-primary-light);
    padding: 93px 80px;
}

@media (min-width: 800px) {
    .banner{
        display: grid;
        gap: 11px 114px;
        grid-template-columns: 1fr 1fr;
    }
}
.banner-meta, .banner-title, .banner-detail, 
.banner-description, .banner-call-to-action {
    grid-column: 1;
}

.banner-image {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 6;
    justify-self: center;
    align-self: center;
    max-height: 359px;
}

.banner-meta{
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--text);
}

.banner-title{
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 3rem;
    letter-spacing: -2px;
    color: var(--text);
}
h1.banner-title{
margin: 23px 0 12px 0;   
}
.banner-detail{
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--text-light);
}

.banner-author{
    color: var(--text-accent);
}

.banner-description{
    font-weight: 400;
    color: var(--text-light);
}

.banner-description-strong{
    color: var(--text);
}

.banner-call_to_action {
    justify-self: start;
    color: var(--text);
    text-decoration: none;
}

/* #endregion */

/* #region section */
.section {
    padding: 57px 80px;
}
.section-title{
    font-weight: 700;
    font-size: 2.25rem;
}
.section-title_separtor {
    background-color: var(--text);
    margin: 32px 0;
}
/* #endregion */

/* #region post */

.post{
    margin: 32px 0;
}

@media (min-width: 800px) {
    .post {
        display: flex;
    }    
}
.post-image {
    max-height: 318px;
}
.post-content {
    margin: auto 22px;
    max-width: 623px;
}
.post-meta{
    font-weight: 600;
    color: var(--text-accent);
}
.post-title{
    font-weight: 700;
    font-size: 2.25rem;
}
.post-description{
    font-weight: 400;
    color: var(--text-light);
}
.post_list-button {
    display: flex;
    justify-content: center;
}

/* #endregion */

/* #region category*/
.category-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 17.46px;
    margin-top: 48px;
}

.category-card{
    padding: 32px;
    width: 295px;
    height: 228px;
    border: var(--border-black);
    border-radius: 4px;
    transition: all 0.3s ease-in;
}

.category-card:hover {
    background-color: var(--bg-primary-accent);
    cursor: pointer;
    transform: scale(1.1);
}

.category-icon{
    transition: all 0.8s ease-in;
    margin-bottom: 10px;
}
.category-card:hover  .category-icon {
    background-color: var(--bg-active-icon);
}

.category-title{
    display: block;
    text-decoration: none;
    color: var(--text);
    margin: 6px 0px;
    font-size: 1.625rem;
    font-weight: 700;
}
.category-card:hover .category-title {
    text-decoration: underline;
    color: var(--text-accent);
}

.category-description{
    font-weight: 400;
}

/* #endregion*/


/* #region article */
.article{
    margin: 40px 156px;
}

.article-detail{
    margin-bottom: 49px;
}

.article-chapter {
    margin-bottom: 24px;
}
/* #endregion */
